body{
    overflow: hidden;
}.home-container{
    background-color: white;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 3fr;
    overflow: hidden;

    .left-container{
        background-color: rgb(25, 25, 25);
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        .items-container{
            img{
                border-radius: 30px;
            }

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            h1{
                color: white;
            }
            h2{
                color: white;
            }

            button{
                width: auto;
                height: 40px;
                border-radius: 20px;
                font-size: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                padding-left: 4px;
                border: none;
            }
            button:hover{
                cursor: pointer;
                border: 1px solid grey;
                box-shadow: 0px 0px 2px white;
            }
        }
    }

    #img-logo{
        height: 20vh;
        width: 25vmin;
    }
}